*{
    margin: 0;
    padding: 00;
}
/* header section */
.navbar{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    margin: 50px 200px;
}
.navbar ul{
    display: flex;
    text-decoration: none;
  padding-left: 25px;
}
.navbar ul li{
    margin-right: 20px;
        list-style: none;
    }
.r{
    color: #FD6E0A;
}
.navbar h1{
    color: Dark 01;
}
/* banner part */
.banner{
    margin: 0 200px;
    display: flex;
   align-items: center;
}
header{
    display: flex;
    background-color: #FFF8F3;
    background-image: url("./header_bg.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    margin-bottom: 131px;
}
/* about me section */
.about{
max-width: 1140px;
margin: 0 auto;
margin-top: 130px;
background-color: #fff;
background-color: #FFF8F3;
border-radius: 10px;
padding: 130px 150px;
}
.about-tittle{
text-align: center;
color: #181818;
/* height: 169px;
width: 48px; */
font-size: 41px;
margin-bottom: 29px;
}
.table-box{
display: flex;
gap: 50px;
justify-content: center;
}
.about-pera{
    color: #757575;
    text-align: center;
    margin-bottom: 31px;
    font-size: 18px;
}
.table-box p{
    text-align: center;
    color: #757575;
    font-size: 20px;  
}


/* what i do section */
.what-i-do-section{
   max-width: 1440px;
    background-color:color: #181818;;
    margin: 0 auto;
    height: 595px;
    margin-top: 115px;
}
.what-i-do-tittle{
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
}
.what-i-do-pera{
    font-size: 18px;
    color: #75757;
    margin: 0 auto;
    text-align:center;
    width: 909px;
    margin-bottom: 50px;
      
}
.box-4{
    display: flex;
    gap: 20px;
    justify-content: center;

}
.box-4 div{
height: 377px;
width: 267px;
background: #FFFFFF;
box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
border-radius: 5px;
padding: 1px solid red;

}
.box-4 div img{
    margin-top: 30px;
    margin-bottom: 32px;
}
.box-4 div h1{
    margin-bottom: 20px;
}
